@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

/* Общие стили */
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    background-color: #b3b9be; /* Мягкий светлый фон */
    margin: 0;
    padding: 0;
    color: #2c3e50; /* Темный текст для хорошей читаемости */
}
