/* Общие стили для меню */
.menu-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 0.25rem;
}

.menu-container .menu-label {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    transition: color 0.2s ease;
}

.menu-container:hover .menu-label {
    color: #dd746b;
}

.menu-container .menu-icon {
    mask: url('../public/profile.svg') center/contain no-repeat;
    -webkit-mask: url('../public/profile.svg') center/contain no-repeat;
    background-color: #333;
    transition: background-color 0.2s ease;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.menu-container:hover .menu-icon {
    background-color: #dd746b;
}

/* Общие стили для выпадающего меню */
.dropdown-menu {
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    padding: 0.2rem 1.0rem;
    z-index: 1000;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

/* Показываем меню при наведении */
.menu-container:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

/* Кнопки внутри выпадающего меню */
.dropdown-button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
    padding: 0.5rem 0.5rem;
    text-align: left;
    display: flex; /* Используем Flexbox */
    align-items: center; /* Центрируем элементы по вертикали */
    gap: 1rem; /* Расстояние между иконкой и текстом */
    width: 100%;
}

/* Иконка в кнопке */
.dropdown-icon {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
}

/* Метка текста в кнопке */
.dropdown-label {
    flex-grow: 1; /* Текст занимает оставшееся место */
}

/* Эффект наведения */
.dropdown-button:hover {
    color: #dd746b;
    background-color: #f8f8f8;
}
