.guide-header {
    margin: 0.5rem 0 0.25rem 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.guide-actions .like-button {
    font-size: 2.5rem; /* Пример переопределения */
}

.guide-header p {
    margin: 0.3rem 0;
}

/* Действия в строку */
.guide-actions {
    display: flex;
    justify-content: left; /* Центрируем по горизонтали */
    align-items: center; /* Выравниваем по вертикали */
    gap: 2rem; /* Расстояние между элементами */
}

.download-pdf-button {
    background-color: #f87f76;
    width: 10rem;
    color: white;
    font-size: 1rem; /* 18px */
    font-weight: bold;
    padding: 0.5rem 1rem; /* 10px 16px */
    border: none;
    border-radius: 0.75rem; /* 8px */
    cursor: pointer;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.6);
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.download-pdf-button:hover {
    background-color: #c66059;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.125rem);
}

.download-pdf-button:active {
    background-color: #c15550;
    transform: scale(0.98);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

.guide-header h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 0.75rem;
}

.guide-image {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
}

/* Контейнер для контента гида */
.guide-details {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    padding: 1rem 3rem 1rem 4rem;
    border-radius: 0.5rem;
    /*box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);*/
}

.guide-details h2, .guide-details h3, .guide-details h4 {
    color: #333;
    margin-top: 1.25rem;
    margin-bottom: 0.7rem;
}

.guide-details p {
    margin-bottom: 1rem;
}

.guide-details ul {
    padding-left: 1.25rem;
    margin-bottom: 1rem;
}

.guide-details ul li {
    list-style-type: disc;
    margin-bottom: 0.3rem;
}

.guide-details a {
    color: #4caf50;
    text-decoration: none;
}

.guide-details a:hover {
    text-decoration: underline;
}

/* Стили для состояния загрузки и ошибок */
.loading, .error, .not-found {
    text-align: center;
    font-size: 1.125rem;
    color: #333;
    margin-top: 1.25rem;
}

.error {
    color: #e74c3c;
}

.not-found {
    color: #888;
}


