/* Общие стили */
body {
  /*font-family: 'Arial', sans-serif;*/
  background-color: #b3b9be; /* Мягкий светлый фон */
  margin: 0;
  padding: 0;
  color: #2c3e50; /* Темный текст для хорошей читаемости */
}

/* Заголовок страницы */
h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5em;
  color: #EB6B3B; /* Основной акцентный цвет для заголовка */
}

/* Стиль формы */
form {
  max-width: 800px;
  margin: 20px auto;
  background: #ffffff; /* Белый фон для контраста */
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/* Стили для меток */
label {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: #2c3e50;
}

/* Стили для полей ввода, выпадающих списков и textarea */
select, input[type="text"], textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0 20px;
  border: 1px solid #79C8CB; /* Цвет рамки — бирюзовый */
  border-radius: 8px;
  font-size: 1em;
  color: #2c3e50;
  background-color: #f9f9f9; /* Нежный фон */
  transition: box-shadow 0.3s, border 0.3s;
}

/* При фокусе поля */
select:focus, input[type="text"]:focus, textarea:focus {
  outline: none;
  border: 1px solid #EB6B3B; /* Оранжевый акцент */
  box-shadow: 0 0 5px rgba(235, 107, 59, 0.5);
}

/* Стили кнопки */
button {
  background-color: #79C8CB; /* Бирюзовый фон кнопки */
  color: white;
  font-size: 1.2em;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: block;
  width: 100%;
}

/* Анимация при наведении на кнопку */
button:hover {
  background-color: #EB6B3B; /* При наведении — оранжевый */
  transform: translateY(-2px);
}

/* Контейнер для каждого вопроса */
.question-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

/* Заголовок формы */
.form-heading {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #2c3e50;
}

/* Выделения */
.highlight {
  color: #79C8CB; /* Бирюзовый для выделения ключевых слов */
}

.budget-range {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.budget-range label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1em;
}
