.card-grid {
    display: grid; /* Используем CSS Grid */
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr)); /* Автоматическое распределение колонок */
    gap: 0.9375rem; /* Расстояние между плитками */
    justify-items: center; /* Центрируем элементы плитки */
    margin-top: 0.7rem; /* Отступ сверху */
    width: 100%; /* Плитка занимает всю ширину родительского контейнера */
    max-width: 80%; /* Фиксированная часть от content-container */
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid;*/
}

.card {
    width: 9rem; /* 130px */
    height: 6rem; /* 100px */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.125rem solid #ccc; /* 2px */
    border-radius: 0.625rem; /* 10px */
    background-color: #f1e7dd;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); /* 4px 6px */
}

.card:hover {
    border-color: #4caf50;
}

/* Заголовок формы */
.form-heading {
    /*border: 1px solid;*/
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #2c3e50;
}

/* Стиль формы */
form {
    /*border: 1px solid;*/
    max-width: 50rem; /* 800px */
    /*margin: 1.25rem auto; !* 20px *!*/
    background: #ffffff; /* Белый фон для контраста */
    padding: 1.25rem 1.875rem; /* 20px 30px */
    border-radius: 0.9375rem; /* 15px */
    box-shadow: 0 0.375rem 0.9375rem rgba(0, 0, 0, 0.1); /* 6px 15px */
}

.card.selected {
    border-color: #4caf50;
    background-color: #e8f5e9;
}

.card-icon {
    font-size: 2.25rem; /* 36px */
    margin-bottom: 0.4rem; /* 10px */
}

.card-label {
    text-align: center;
    font-weight: bold;
    font-size: 0.875rem; /* 14px */
}

/* Дополнительные стили для уменьшенных карточек */
.card-small {
    width: 5rem; /* 80px */
    height: 4.375rem; /* 70px */
}

/* Дополнительные стили для уменьшенных карточек */
.card-narrow {
    width: 8rem; /* 118px */
    height: 6rem; /* 100px */
}

/* Дополнительные стили для уменьшенных карточек */
.card-short {
    width: 9rem; /* 130px */
    height: 3.125rem; /* 50px */
}

.card-small .card-icon {
    font-size: 1.5rem; /* 24px */
}

.card-small .card-label {
    font-size: 0.75rem; /* 12px */
}

.question-container {
    margin-top: 1rem;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование по горизонтали */
    justify-content: center; /* Центрирование по вертикали, если нужно */
    text-align: center; /* Центрирование текста внутри label */
}

.question-container label {
    /*border: 1px solid;*/
    font-size: 1.25rem; /* 20px */
    font-weight: bold; /* Настройте стиль текста, если нужно */
}

.text-input {
    width: 100%;
    max-width: 25rem; /* Ограничиваем ширину текстового поля */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.text-input:focus {
    outline: none;
    border-color: #4caf50;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}
