.card-grid {
    display: grid; /* Используем CSS Grid */
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr)); /* Автоматическое распределение колонок */
    gap: 0.9375rem; /* Расстояние между плитками */
    justify-items: center; /* Центрируем элементы плитки */
    margin-top: 0.7rem; /* Отступ сверху */
    width: 100%; /* Плитка занимает всю ширину родительского контейнера */
    max-width: 80%; /* Фиксированная часть от content-container */
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 9rem; /* 130px */
    height: 6rem; /* 100px */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid #c6c0bb; /* Основной цвет границы */
    border-radius: 0.625rem; /* 10px */
    background-color: #f1e7dd; /* Светлый фон, согласованный с Main.css */
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2); /* Легкая тень */
}

.card:hover {
    border-color: darkseagreen; /* Цвет выделения */
    background-color: #dfe1cc; /* Фон при наведении */
    box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.3); /* Увеличенная тень */
    transform: translateY(-0.2rem); /* Лёгкое поднятие плитки */
}

.card.selected {
    transform: translateY(-0.2rem); /* Лёгкое поднятие плитки */
    border-color: darkseagreen; /* Цвет выделения */
    background-color: #dfebcc; /* Цвет выделенной карточки */
    box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.3); /* Увеличенная тень */
}

.card-icon {
    font-size: 2.25rem; /* 36px */
    margin-bottom: 0.4rem; /* 10px */
}

.card-label {
    text-align: center;
    font-weight: bold;
    font-size: 0.875rem; /* 14px */
    color: #333; /* Основной цвет текста */
}

/* Заголовок формы */
.form-heading {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 1rem;
}

/* Стиль формы */
form {
    max-width: 50rem; /* 800px */
    background: #ffffff; /* Белый фон для контраста */
    padding: 1.25rem 1.875rem; /* 20px 30px */
    border-radius: 0.9375rem; /* 15px */
    box-shadow: 0 0.375rem 0.9375rem rgba(0, 0, 0, 0.1); /* Тень формы */
}

.question-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.question-container label {
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
    color: #2c3e50; /* Основной цвет текста */
}

.text-input {
    width: 100%;
    max-width: 25rem; /* Ограничиваем ширину текстового поля */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.text-input:focus {
    outline: none;
    border-color: #f87f76; /* Цвет выделения */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

/* Дополнительные стили для уменьшенных карточек */
.card-small {
    width: 5rem; /* 80px */
    height: 4.375rem; /* 70px */
}

.card-small .card-icon {
    font-size: 1.5rem; /* 24px */
    color: #333;
}

.card-small .card-label {
    font-size: 0.75rem; /* 12px */
    color: #333;
}

/*Стили кнопки*/
.button {
    background-color: #f87f76;
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    border: none;
    width: 30rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.6);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #c66059;
    box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.4);
    transform: translateY(-0.2rem);
}

.button:active {
    background-color: #c15550;
    transform: scale(0.97);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.7);
}

