/* Main.css */

/* Подключение шрифта Nunito через Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

/* Общий стиль для страницы */
body {
    font-family: 'Nunito', 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aeb6bd;
    font-size: 1rem;
}

/* Контейнер страницы */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Контент */
.content-container {
    background-color: #d0c9c7;
    width: 80rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    min-height: 100vh;
    height: auto;
    margin-bottom: 2rem;
}

/* Контейнер для изображения */
.image-container {
    position: relative;
    width: 80rem;
    margin: 0 auto;
    overflow: hidden;
}

/* Изображение */
.banner-image {
    width: 100%;
    height: auto;
    display: block;
}

/* Текст */
.banner-text {
    position: absolute;
    top: 40%;
    left: 62.5%;
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    color: white;
    text-align: left;
    user-select: none;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.6);
}

/* Кнопка */
.action-button {
    position: absolute;
    width: 16rem;
    top: 56%;
    left: 49%;
    padding: 1rem 1.5rem;
    background-color: #f87f76;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.6);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
}

.action-button:hover {
    background-color: #c66059;
    box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.4);
    transform: translateY(-0.2rem);
}

.action-button:active {
    background-color: #c15550;
    transform: scale(0.97);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.7);
}
