/* print.css */

/* Скрыть всё содержимое страницы */
@media print {
    body * {
        visibility: hidden;
    }

    /* Показать только элемент guide-details и его содержимое */
    .guide-details, .guide-details * {
        visibility: visible;
    }

    .guide-details {
        max-width: 80%; /* Подгоните ширину под размер страницы */
        margin: 0 auto;
    }
}
