/* Индикатор загрузки */
.loading-indicator {
    text-align: center;
    color: #f87f76; /* Основной акцентный цвет */
    font-size: 1.125rem; /* 18px */
    margin-bottom: 1.25rem; /* 20px */
}

/* Список рекомендаций */
.recommendations-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px */
    /*max-width: 80%;*/
    margin: 0 auto;
}

/* Контент рекомендации */
.recommendation-content {
    flex: 1;
}

/* Заголовок рекомендации */
.recommendation-title {
    color: #2c3e50; /* Основной текстовый цвет */
    font-size: 1.5rem; /* 24px */
    margin-bottom: 0.625rem; /* 10px */
}

/* Описание рекомендации */
.recommendation-description {
    color: #333; /* Тёмный текст для описания */
    margin-bottom: 0.9375rem; /* 15px */
    font-size: 1rem; /* 16px */
    line-height: 1.5;
}

/* Стили для списков */
ul {
    list-style: disc;
    padding-left: 1.25rem; /* 20px */
    margin: 0.625rem 0; /* 10px */
}

li {
    margin-bottom: 0.3125rem; /* 5px */
    color: #2c3e50;
}

/* Дополнительные стили для текста */
strong {
    color: #f87f76;
    font-weight: bold;
}

/* CSS для вращающегося прогресс-бара */
.loader {
    border: 0.25rem solid #f3f3f3; /* Светло-серый */
    border-top: 0.25rem solid #f87f76; /* Основной цвет */
    border-radius: 50%;
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Карточка рекомендации */
.recommendation-card {
    display: flex;
    align-items: center;
    background-color: #f1e7dd;
    border-radius: 0.625rem; /* 10px */
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recommendation-card:hover {
    /*transform: translateY(-0.1rem);*/
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.3);
}

/* Изображение */
.recommendation-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    background-color: #d0c9c7;
    border-radius: 0.625rem; /* 10px */
    margin: 1rem;
    /*margin-right: 1rem; !* 20px *!*/
    overflow: hidden;
    /*margin-left: 1rem;*/
}

.recommendation-image {
    min-width: 100%;
    min-height: 100%;
    border-radius: 0.625rem; /* 10px */
    object-fit: cover;
    transition: transform 0.3s ease;
}

.recommendation-image:hover {
    transform: scale(1.05);
}

/* Детали рекомендации */
.recommendation-details {
    margin-top: 0.625rem; /* 10px */
}

.generate-guide-button {
    background-color: #f87f76;
    width: 100%;
    color: white;
    font-size: 1.3rem; /* 18px */
    font-weight: bold;
    padding: 0.4rem 1rem; /* 10px 16px */
    border: none;
    border-radius: 0.75rem; /* 8px */
    cursor: pointer;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.6);
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: 1rem auto; /* Горизонтальное центрирование и вертикальный отступ */
    display: block; /* Требуется для центрирования через margin */
}

.generate-guide-button:hover {
    background-color: #c66059;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.125rem);
}

.generate-guide-button:active {
    background-color: #c15550;
    transform: scale(0.98);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

/* Модальное окно */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    background: transparent;
    border-radius: 0.625rem; /* 10px */
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.625rem; /* 10px */
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
}

.modal-close {
    position: absolute;
    top: 1rem; /* 10px */
    right: 1.625rem; /* 10px */
    color: #fff;
    font-size: 2.5rem; /* 24px */
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
    transition: transform 0.3s ease;
}

.modal-close:hover {
    transform: scale(1.2);
    color: #f87f76;
}
