/* Guide.module.css */

.guideHeader {
    margin: 0.5rem 0 0.25rem 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    min-height: 3.5rem;
}

.guideActions {
    display: flex;
    justify-content: left; /* Центрируем по горизонтали */
    align-items: center; /* Выравниваем по вертикали */
    gap: 2rem; /* Расстояние между элементами */
}

.guideHeader p {
    margin: 0.3rem 0;
}

.downloadPdfButton {
    background-color: #f87f76;
    width: 12rem;
    color: white;
    font-size: 1rem; /* 18px */
    font-weight: bold;
    padding: 0.5rem 1rem; /* 10px 16px */
    border: none;
    border-radius: 0.75rem; /* 8px */
    cursor: pointer;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.6);
    box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.downloadPdfButton:hover {
    background-color: #c66059;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.125rem);
}

.downloadPdfButton:active {
    background-color: #c15550;
    transform: scale(0.98);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

/* Guide.module.css */

@media print {
    /* Скрыть всё содержимое страницы */
    body * {
        visibility: hidden;
    }

    .printContainer, .printContainer * {
        visibility: visible;
    }

    .printContainer {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .guideDetails {
        margin: 0 auto;
        font-size: 1.4rem !important;
    }
}

.guideImage {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
}

.guideDetails {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    padding: 1rem 3rem 1rem 4rem;
    border-radius: 0.5rem;
    min-height: 100vh;
}

.guideDetails h2,
.guideDetails h3,
.guideDetails h4 {
    color: #333;
    margin-top: 1.25rem;
    margin-bottom: 0.7rem;
}

.guideDetails p {
    margin-bottom: 1rem;
}

.guideDetails ul {
    padding-left: 1.25rem;
    margin-bottom: 1rem;
}

.guideDetails ul li {
    list-style-type: disc;
    margin-bottom: 0.3rem;
}

.guideDetails a {
    color: #4caf50;
    text-decoration: none;
}

.guideDetails a:hover {
    text-decoration: underline;
}

.loading,
.error,
.notFound {
    text-align: center;
    font-size: 1.125rem;
    color: #333;
    margin-top: 1.25rem;
}

.error {
    color: #e74c3c;
}

.notFound {
    color: #888;
}

.imageGuideContainer {
    text-align: center; /* Центрирование контейнера для изображения */
}

.image {
    max-width: 80%; /* Ограничение ширины изображения */
    height: auto; /* Сохраняем пропорции */
    border-radius: 0.333rem; /* 10px */
}

.imageCaption {
    font-size: 0.85rem; /* Уменьшенный шрифт для подписи */
    color: #333; /* Нейтральный цвет */
    margin-top: 0.5rem; /* Расстояние от изображения до подписи */
}

.imageCaption a {
    color: #007bff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчёркивание */
}

.imageCaption a:hover {
    text-decoration: underline; /* Подчёркивание при наведении */
    color: #f87f76; /* Цвет при наведении */
}

.guideFooter {
    display: flex;
    align-items: center;
    background-color: #f1e7dd; /* Светлый фон */
    color: #333; /* Тёмный текст */
    border-top: 1px solid #ccc; /* Разделительная линия сверху */
    font-size: 0.875rem; /* Размер текста */
    font-style: italic;
    line-height: 1.5; /* Высота строки */
}

.footerAiLogo {
    width: 3rem; /* Ширина логотипа */
    height: 3rem; /* Высота логотипа */
    object-fit: contain; /* Адаптация изображения */
    margin: 0.4rem;
}