/* LoginPopup.module.css */

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupContent {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    max-width: 21rem;
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute; /* Центрируем попап */
    top: 50%;
    left: 50%;
}

.loginButtonPopup {
    background-color: #dd746b;
    width: 94%;
    color: white;
    border: none;
    margin-top: 2rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.loginButtonPopup:hover {
    background-color: #c66059;
}

.loginButtonPopup:active {
    background-color: #c15550;
    transform: scale(0.98);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.7);
}

/* LoginPopup.module.css */

/* LoginPopup.module.css */

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*margin-bottom: 1rem; !* Добавляем отступ между группами полей *!*/
}

.formGroup label {
    font-size: 0.875rem; /* 14px -> 0.875rem */
    font-weight: bold;
    margin-bottom: 0.3125rem; /* 5px -> 0.3125rem */
}

.formGroup input {
    width: 94%; /* Ширина поля */
    padding: 0.5rem; /* 8px -> 0.5rem */
    margin: 0.625rem 0 1.25rem; /* 10px 0 20px -> 0.625rem 0 1.25rem */
    border: 1px solid #ccc; /* Цвет рамки */
    border-radius: 0.25rem; /* 4px -> 0.25rem */
    font-size: 0.875rem; /* Размер шрифта */
    color: #333; /* Цвет текста */
    background-color: #f9f9f9; /* Нежный фон */
    transition: box-shadow 0.3s, border 0.3s; /* Плавные переходы */
}

.formGroup input:focus {
    outline: none;
    border: 1px solid #eb6b3b; /* Оранжевый акцент */
    box-shadow: 0 0 5px rgba(235, 107, 59, 0.5); /* Тень при фокусе */
}

.signupPrompt {
    margin-top: 1.25rem; /* 20px -> 1.25rem */
    font-size: 0.875rem; /* 14px -> 0.875rem */
}

.signupLink {
    color: #dd746b;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: text-decoration 0.2s ease;
}

.signupLink:hover {
    text-decoration: underline;
}

.globalMessage {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.globalMessage.success {
    color: green;
    font-weight: bold;
}

.globalMessage.error {
    color: red;
    font-weight: bold;
}

.fieldMessage {
    font-size: 1rem;
    margin-top: 0.25rem;
}

.fieldMessage .success {
    color: green;
}

.fieldMessage .error {
    color: red;
}