/* ImageCaption.module.css */

.imageCaption {
    font-size: 0.85rem; /* Уменьшенный шрифт для подписи */
    color: #333; /* Нейтральный цвет */
    margin-top: 0.5rem; /* Расстояние от изображения до подписи */
}

.link {
    color: #007bff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчёркивание */
    transition: color 0.2s ease; /* Плавный переход */
}

.link:hover {
    text-decoration: underline; /* Подчёркивание при наведении */
    color: #f87f76; /* Цвет при наведении */
}